fastapi
uvicorn[standard]
python-multipart
PyMuPDF
fuzzywuzzy
pandas
pydantic
python-Levenshtein
sentence-transformers
python-dotenv
bert_score
tiktoken
transformers
evaluate
spacy
openai
datasets 
tqdm 
